@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

.container {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}
